<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score</title>
</head>
<body background="https://ak.picdn.net/shutterstock/videos/6089795/thumb/7.jpg">
<h1><center><h1>Student's details </h1></center></h1><br><br>

<form action="" method="post">
    <center>
        Student Name : <input type="text" name="nm" placeholder="Enter Student Name" required><br><br>
        Physics : <input type="text" name="fnum" placeholder="Enter Student physics" required><br><br>
        Chemistry : <input type="text" name="snum" placeholder="Enter Student Chemistry" required><br><br>
        Mathematics : <input type="text" name="tnum" placeholder="Enter Student Math" required><br><br>
        English : <input type="text" name="fnum" placeholder="Enter Student English" required><br><br>
        Biology : <input type="text" name="fifnum" placeholder="Enter Student Biology" required><br><br>

        <input type="submit"> <input type="reset"> <br><br>
    </center>
</form>
</body>
</html>